<header class="header">
    <div class="header-container">
        <div class="logo">
            <a href="#home">AT</a>
        </div>

        <nav class="navbar glass-pill">
            <ul class="nav-links">
                <li><a href="#home" class="active">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#projects">Project</a></li>
                <li><a href="#skills">Skills</a></li>
                <li><a href="#contact">Connect</a></li>
            </ul>
        </nav>

        <div class="spacer"></div>
    </div>
</header>