<div class="stars-container"></div>

<app-navbar></app-navbar>

<main class="main-content">
  <div class="container">
    <section id="home" class="view-section">
      <app-hero></app-hero>
    </section>

    <section id="about" class="view-section">
      <app-about></app-about>
    </section>

    <section id="projects" class="view-section">
      <app-projects></app-projects>
    </section>

    <section id="skills" class="view-section">
      <app-skills></app-skills>
    </section>

    <section id="contact" class="view-section">
      <app-contact></app-contact>
    </section>
  </div>
</main>

<app-footer></app-footer>